@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

#nav {
    background-color: #7db89d;
    text-align: center;
    color: #ffffff;
    padding: 
}

#header {
    
}

#what {
    
}

#sponsor_logos {
    
}

#why {

}

#where {
    
}

#who {
    
}


