@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
background-color: #82DDB5;
background-image: url('img/illustration.gif'), url('img/texture.jpg'); background-position: center 280px, left top;
background-repeat: no-repeat, repeat-x;
background-size: 800px, auto;
font-family: 'Quicksand', sans-serif;
margin: 0;
}

#nav {
background-color: #6B9; border-bottom: 2px dashed #487; color: white;
font-weight: bold;
 


#nav {
    background-color: #7db89d;
    text-align: center;
    color: #ffffff;
    padding: 100px;
}

#header {
    
}

#what {
    
}

#sponsor_logos {
    
}

#why {

}

#where {
    
}

#who {
    
}
